<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'add_conteudo' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Título" name="titulo" required />
        <input type="text" placeholder="Descrição do Conteúdo" name="descricao" required />
        <input type="file" name="imagens"/>
        <input type="submit" value="Entrar" />
    </form>
</body>
</html>